{% load query_transform %}

{% if is_paginated %}
<section class="py-7">
  <div class="container">
    <div class="row justify-content-center py-2">
      <div class="col-lg-auto">
        <ul class="pagination m-4">

          <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
            <a class="btn btn-outline-light btn-sm mx-1"
               href="{% if page_obj.has_previous %}?{% query_transform request page=page_obj.previous_page_number %}{% else %}javascript:;{% endif %}"
               aria-label="Previous">
              <i class="material-icons" aria-hidden="true">chevron_left</i>
            </a>
          </li>

          {% for num in paginator.page_range %}
            {% if num == page_obj.number %}
              <li class="page-item active">
                <a class="btn btn-outline-light btn-sm mx-1 active" style="pointer-events: none;">{{ num }}</a>
              </li>
            {% elif num >= page_obj.number|add:'-2' and num <= page_obj.number|add:'2' %}
              <li class="page-item">
                <a class="btn btn-outline-light btn-sm mx-1"
                   href="?{% query_transform request page=num %}">{{ num }}</a>
              </li>
            {% endif %}
          {% endfor %}

          <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
            <a class="btn btn-outline-light btn-sm mx-1"
               href="{% if page_obj.has_next %}?{% query_transform request page=page_obj.next_page_number %}{% else %}javascript:;{% endif %}"
               aria-label="Next">
              <i class="material-icons" aria-hidden="true">chevron_right</i>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>
{% endif %}